a {
  color: inherit;
  text-decoration: none;
}

body {
  background: black;
  box-sizing: border-box;
  color: gray;
  height: 100vh;
  margin: 0;
}

button,
input,
textarea {
  background: inherit;
  border: 1px solid gray;
  color: inherit;
  font-size: 1rem;

  &:focus,
  &:focus-visible {
    outline: 1px solid white;
  }
}

textarea {
  margin: 0;
  overflow-wrap: normal;
  overflow-x: scroll;
  resize: none;
  white-space: pre;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}