entry-tree {
  border-right: 1px solid gray;
  overflow: auto;

  ul {
    padding-left: 1rem;
  }

  li {
    &:has(.directory)::marker {
      content: "\23f5  ";
    }

    &:has(.expanded)::marker {
      content: "\23f7  ";
    }
  }

  .active {
    color: light-dark(darkgray, lightgray);
  }
}
