@charset "UTF-8";
@import "base.css";

:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header {
  ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .active {
    background: gray;
    color: black;
  }
}
