janilla-ide {
  display: grid;
  grid: auto 1fr / 1fr 3fr;
  height: 100%;
  
  > header {
  	grid-area: auto / span 2;

  	ul {
  	  display: flex;
  	  flex-direction: row;
  	  gap: 1rem;
  	}
  }

  > aside,
  > main {
    display: flex;
    flex-direction: column;
  }
}
